$color-primary: #432EAB;
$color-secondary: linear-gradient(90deg, #FF6600 0%, #F26659 27%, #F06177 37%, #E55D97 48%, #CA46D2 71%, #8D13F9 100%);
$color-bg: #FFFFFF;
$color-bg-secondary: #F6F6F6;
$color-text: #262C40;
$color-text-secondary: #8189A3;
$color-border: #D4DEFE;

$color-dark: #000000;
$color-light: #FFFFFF;
$color-success: #2d8647;
$color-error: #E30907;

$font-primary: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
$font-secondary: 'Montserrat', Arial, sans-serif;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
